{% extends 'catalog/base.html' %}
{% block content %}

<div class="container">
    <div class="col-12 mb-5">
        <a class="btn btn-success" href="{% url 'blog:article_create' %}">Добавить статью</a>
    </div>
    <div class="row">

        {% for object in object_list %}
            <div class="col-md-4" style="height:200px">
                <h3>{{ object.title }}</h3>
                <p style="height:70px">{{ object.content|slice:100 }}...</p>
                <div class="btn-group">
                <p>
                        <a class="btn btn-outline-info" href="{% url 'blog:article_detail' object.pk %}" role="button">
                            Перейти к статье
                        </a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}