{% extends 'catalog/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>{{ object.title }}</h3>
            <img src="/media/{{ object.preview }}" alt="#IMAGE#">

            <p>{{ object.content }}</p>
            <p class="btn-group">
                <p>
                    <a class="btn btn-outline-primary" href="{% url 'blog:article_update' object.pk %}" role="button">
                        Редактировать
                    </a>
                    <a class="btn btn-outline-danger" href="{% url 'blog:article_delete' object.pk %}" role="button">
                        Удалить
                    </a>
                </p>
                <p>
                    Просмотры {{ object.views_count }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}