{% extends 'catalog/base.html' %}
{% block content %}
{% include 'catalog/includes/inc_catalog_info.html' %}

<div class="container">
    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25">Страна</td>
                            <td>USA</td>
                        </tr>
                        <tr>
                            <td class="w-25">ИНН</td>
                            <td>91-1144442</td>
                        </tr>
                        <tr>
                            <td class="w-25">Адрес</td>
                            <td>Redmond,WA,98052-6399</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="" class="form-floating">
                        {% csrf_token %}
<!--                        Не стал использовать шаблонную переменную, так как не могу подправить стиль отображения и выходит криво-->
<!--                        <div class="col-6">-->
<!--                            {{ form.as_p }}-->
<!--                        </div>-->
                        <div class="mb-3">
                            <label for="name">Имя</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя"
                                   required>
                        </div>
                        <div>
                            <label for="phone">Телефон</label>
                            <input type="tel" name="phone" class="form-control" id="phone"
                                   placeholder="Контактный телефон" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
                            <small class="text-muted">Формат: 123-45-678</small><br><br>
                        </div>
                        <div class="mb-3">
                            <label for="message">Сообщение</label>
                            <textarea name="message" class="form-control" id="message"
                                      placeholder="Сообщение" rows="5" required></textarea>
                        </div>
                        <input type="submit" class="btn btn-lg btn-block btn-outline-primary" value="Отправить">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
