{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <h3>Каталог</h3>
    <a href="{% url 'catalog:product_create' %}" type="button" class="btn btn-success mb-4">Добавить продукт</a>
    <div class="row text-center">
        {% for product in products %}

        <div class="col-3 d-flex align-items-stretch">
            <div class="card mb-4 box-shadow">

                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    {% if product.image %}
                    <img src="{% mediapath product.image %}" class="img-fluid" alt="Card image">
                    {% else %}
                    <img src="/media/products/no_image/no_image.png" class="img-fluid" alt="Card image">
                    {% endif %}
                    <h4 class="card-title pricing-card-title">{{ product.price }} рублей</h4>
                    <p class="list-unstyled mt-3 mb-4 text-start m-3">
                        {{ product.description|slice:100 }}...
                    </p>
                    <hr>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Дата создания - {{ product.created_at }}</li>
                        <li>Дата изменения - {{ product.changed_at }}</li>
                    </ul>
                    <hr>
                    <p class="list-unstyled mt-3 mb-4 text-start m-3">Автор -
                        {{ product.author|default:"отсутствует" }}</p>
                    <p class="list-unstyled mt-3 mb-4 text-start m-3">Активная версия -
                        {{ product.productversion_set.all|active_version }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'catalog:product_detail' product.pk product.slug %}" type="button"
                       class="btn btn-lg btn-block btn-outline-primary">Перейти к товару</a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    <hr>
    <h3>Блог</h3>
    <div class="col-12 mb-5">
        <a class="btn btn-success" href="{% url 'blog:article_create' %}">Добавить статью</a>
    </div>
    <div class="row">

        {% for article in articles %}
            <div class="col-md-4" style="height:200px">
                <h3>{{ article.title }}</h3>
                <p style="height:70px">{{ article.content|slice:100 }}...</p>
                <div class="btn-group">
                <p>
                        <a class="btn btn-outline-info" href="{% url 'blog:article_detail' article.pk article.slug %}"
                           role="button">
                            Перейти к статье
                        </a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}