{% extends 'catalog/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h3>Удаление товара</h3>
                </div>
                <div class="card-body">
                    <div class="card-title">Подтвердить удаление "{{ object.name|title }}"?</div>
                </div>
                <div class="card-footer">
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">
                            Подтвердить
                        </button>
                        <a href="{% url 'catalog:product_list' %}" class="btn btn-warning">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}