{% extends 'catalog/base.html' %}
{% block content %}
{% include 'catalog/includes/inc_catalog_info.html' %}


<div class="container">
    <div class="row text-center">
        {% include 'catalog/includes/inc_catalog_product_card_top.html' %}
                        {{ object.description }}
        {% include 'catalog/includes/inc_catalog_product_card_bottom.html' %}
                <a href="#" type="button" class="btn btn-lg btn-block btn-outline-primary">{{ button }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
